.gridPannel {
  border: 1px solid rgb(203, 200, 200);
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #fff;
  width: 100%;

  > h2 {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
  }
  .cartColumn {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
