.loginContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 400px;
  .loginUpperContainer {
    display: flex;
    justify-content: space-between;
    > div {
      .heading2 {
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
      }
      > p {
        font-size: 1rem;
        color: rgb(162, 162, 162);
      }
    }

    > button {
      margin: 1rem 2rem;
    }
  }

  .input {
    width: 100%;
    margin-bottom: 1rem;
  }
  .signInbutton {
    width: 80%;
    border-radius: 10px;
    margin: 0.5rem 2rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    &:hover {
      scale: 1.1;
    }
    &:active {
      scale: 1;
    }
  }
}
