header {
  padding: 1rem 0;
  box-shadow: 0px 0px 10px 0px #888888;
  z-index: 10;

  > div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h1 {
      font-size: 2.5rem;
    }

    nav {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        text-decoration: none;
        padding-left: 1.5rem;
        color: #888888;
        transition: all 0.3s ease;
        &:hover {
          color: #353434;
          scale: 0.9;
        }
      }

      button {
        padding: 1rem 2rem;
        margin-left: 1rem;
        border: none;
        border-radius: 10px;
        font-size: 1rem;
        transition: all 0.3s ease;
        cursor: pointer;
        &:active {
          scale: 0.9;
        }
        &:hover {
          color: #ffffff;
          background-color: rgb(55, 170, 208);
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    > div {
      max-width: 650px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > h1 {
        font-size: 2rem;
      }

      > nav {
        font-size: 1rem;
        a {
          padding-left: 1rem;
        }
      }
    }
  }
}
