header {
  padding: 2.5rem 0;
  box-shadow: 0px 0px 10px 0px #888888;

  > div {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > h1 {
      font-size: 2.5rem;
    }

    nav {
      font-size: 1.3rem;
      a {
        text-decoration: none;
        padding-left: 1.5rem;
        color: #888888;
        transition: all 0.3s ease;
        &:active {
          color: red;
        }
        &:hover {
          color: #353434;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  header {
    > div {
      max-width: 650px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      > h1 {
        font-size: 2rem;
      }

      > nav {
        font-size: 1rem;
        a {
          padding-left: 1rem;
        }
      }
    }
  }
}
