<header class="mainContainer">
  <div>
    <!-- Logo   (Left side of the page) -->
    <h1 class="logo">Logo</h1>

    <!-- Menus / Home tab  (Right side of the page) -->
    <nav class="navigationLink">
      <a routerLink="/">
        <mat-icon>home</mat-icon>
      </a>

      <a routerLink="/cart"><mat-icon>shopping_cart</mat-icon></a>
      <a routerLink="/wishlist"><mat-icon>favorite</mat-icon></a>
      <a routerLink="/login">Login</a>
      <a routerLink="/signup">SignUp</a>
    </nav>
  </div>
</header>
