.wishlistButton {
  position: absolute;
  z-index: 10;
  display: flex;
  top: 1rem;
  right: 1rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  transition: all 0.3s ease;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  &:hover {
    scale: 1.5;
    background-color: transparent;
    color: #ff0000;
  }
}

.red {
  color: red;
}
