.quantitySelctorContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .quantitySelector {
    display: inline-flex;
    align-items: center;
    > span {
      padding: 0rem 2rem;
      font-size: 1.2rem;
      color: rgb(136, 135, 135);
    }
  }
}
