.cartContainer {
  margin: auto;
  max-width: 1200px;
  padding: 2rem 1.5rem;

  .cartHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0.5rem;

    .cartItemsCount {
      color: rgb(162, 162, 162);
      font-size: 1rem;
    }
  }

  .cartGrid {
    display: grid;
    grid-template-columns: repeat(2, 48rem 24rem);
    gap: 3rem;
    .checkoutButton {
      width: 80%;
      border-radius: 10px;
      margin: 0.5rem 2rem;
      font-size: 1rem;
      transition: all 0.3s ease;
      &:hover {
        scale: 1.1;
      }
      &:active {
        scale: 1;
      }
    }
  }
}
