.productContainer {
  background-color: rgba(234, 233, 233, 0.532);
  padding: 2rem 5rem;

  > div {
    height: 100%;
    .productLength {
      color: rgb(154, 154, 154);
      font-size: 1rem;
      font-weight: 300;
      margin: 1rem 0;
    }
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    .productGrid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      gap: 1rem;
    }
  }
}
